{% extends "base.html" %}
{% block start %}
<h1 style="text-align: center; background-color: black; color:white;">Django
    CURD Operation</h1>
    <div class="container col-6 card mx-auto mt-3" style="width: 50rem;">
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputEmail1">First Name</label>
        <input name="f_name" type="text" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">

    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Last Name</label>
        <input type="text" name="l_name" class="form-control" id="exampleInputPassword1"
            >
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Email</label>
        <input type="email"  name="email" class="form-control" id="exampleInputPassword1"
            >
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Address</label>
        <textarea class="form-control"  name="address" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Phone Number</label>
        <input type="number"  name="phone" class="form-control" id="exampleInputPassword1"
            >
    </div>


    <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>

</div>
<div class="container mt-3">
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col" class="text-center">Number</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Phone number</th>
        <th scope="col"colspan="2" style="text-align: center;">Action</th>

        
      </tr>
    </thead>
    <tbody>
        {% for i in students %}
      <tr>
        <th scope="row" class="text-center">{{forloop.counter}}</th>
        <td>{{i.f_name}}</td>
        <td>{{i.l_name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.address}}</td>
        <td>{{i.phone}}</td>
        <td><a href="update_student/{{i.id}}/" class="btn btn-success">UPDATE</a></td>
        <td><a href="delete_student/{{i.id}}/" class="btn btn-danger">DELETE</a></td>
      </tr>
      {% endfor %}
        
    </tbody>
  </table>
</div>



{% endblock %}